body {
  font-size:1.2em;
  margin-top:60px;
  background:radial-gradient(white 70%, #A0A0A0 92%);
}

footer {
  font-size:0.8em;
  text-align: center;
}

h1, h2 {
  transform:skewX(-25deg);
  text-shadow: 0.6em 0.65em 6px #000000;
}

h1 {
  margin-bottom:0.4em;
}

h2 {
  margin-bottom:0.9em;
}

h3 {
  margin-top:2em;
  margin-bottom:0.5em;
}

#weapons-panel {
  border:1px solid;
  margin:0.2em 0em;
  width:50em;
  background:white;
  padding:0em;
}

.image-box {
  padding-top:0.3em;
  background:white;
  text-align:center;
}

.image-text {
  margin-bottom:0.2em;
}

@keyframes example {
  from {
    opacity:0;
    transform:scale(0.4) rotate(80deg) translateY(500px);
    
  }
  to {
    opacity:0.8;
    transform:scale(1);
    
  }
}

#ninja-image {
  animation-name:example;
  animation-duration:3s;
  max-width:100%;
}
